@model BorrowITEquip.Models.Request

<div class="container py-4">
    <h1 class="display-6 mb-3">Request Submitted</h1>
    <div class="alert alert-success">
        Thank you, @Model.Name! Your request has been submitted. Someone from IT will be in touch soon.
    </div>

    <dl class="row">
        <dt class="col-sm-3">Request Id</dt><dd class="col-sm-9">@Model.Id</dd>
        <dt class="col-sm-3">Equipment</dt><dd class="col-sm-9">@Model.Equipment?.Description (@Model.Equipment?.Type)</dd>
        <dt class="col-sm-3">Role</dt><dd class="col-sm-9">@Model.Role</dd>
        <dt class="col-sm-3">Duration (days)</dt><dd class="col-sm-9">@Model.DurationDays</dd>
        <dt class="col-sm-3">Status</dt><dd class="col-sm-9">@Model.Status</dd>
    </dl>

    <a class="btn btn-outline-secondary" href="/EquipmentRequest">Submit another request</a>
</div>
